{
  "extends": [
    "airbnb-base",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-multi-str": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "import/no-extraneous-dependencies": "off",
    "consistent-return": "off",
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }]
  }
}
